<!DOCTYPE html>
<html>

  <head>

    <title>BĐS A&A Agency và Analytic </title>
    <meta name="description" content="Open-Source Admin Dashboard coded in Flask Microfremwork.">

    {% include 'includes/header.html' %}
    <style>
      .dropdown:hover>.dropdown-menu {
      display: block;

    }

    body{
      background-size: cover;
      font-family: "San Francisco";
      background-image: url('/static/assets/img/theme/background-img.jpg');
      background-repeat : no-repeat;
    }
    </style>
  </head>

<body>

  <div class="main-content">
    <div class="container-fluid" style = "background-image: url('/static/assets/img/theme/banner.png');background-repeat: no-repeat; background-size: contain;">

    {% include 'includes/auth-navigation.html' %}

    {% include 'includes/auth-header.html' %}

    {{ content | safe }}
  </div>
  </div>
  
  {% include 'includes/auth-footer.html' %}
  
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.0.0"></script>

</body>

</html>