<!DOCTYPE html>
<html>

  <head>

    <title>BĐS A&A Trang chủ</title>
    <meta name="description" content="Admin Panel with Argon Design crafted by Creative-Tim and coded in Flask  with SQLite database, ORM and authentication.">

    {% include 'includes/header.html' %}
    {% include 'includes/scripts.html' %}
    <style>
      .dropdown:hover>.dropdown-menu {
      display: block;

    }

    body{
      background-size: cover;
      font-family: "San Francisco";
      background-image: url('/static/assets/img/theme/background-img.jpg')
    }
    </style>
  </head>

<body style = "background-repeat: no-repeat;">

  <div class="container-fluid" style = "background-image: url('/static/assets/img/theme/banner.png');background-repeat: no-repeat; background-size: contain;">
    {% include 'includes/sidenav.html' %}
   {% include 'includes/top-stats.html' %} 
  </div>
  {{ content | safe }}

  

</body>

</html>




