<style>
  #list{
      
  }
</style>
  <div class="main-content justify-content-center">
    <!-- Top navbar -->


    <!-- Header -->
    
    <div class="container-fluid mt--7 justify-content-center ">

      <div class="row" style="height:2rem; margin:auto"></div>
      <div class="row justify-content-center" style="background-color:rgba(200, 250, 255, 0.5); margin:auto">
        <nav class=" navbar-expand justify-content-center"  style="width:100%;margin:auto">
          <ul class="navbar-nav row" id="list" style="font-size:0.9rem;width:100%;margin:auto">
            <li class="col-12" style = "float:left; border: 1px solid #f2f2f2">
              <p style="font-size: 1.5rem;padding-block-start: 0.8rem;">DANH MỤC</p>
            </li>
            <li class="col-lg-3 col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/district_list">
              <p style="text-align:center;">Tổng hợp Agengies từ</p>
              <p style="text-align:center;">Các quận</p>
              </a>
            </li>
          <!-- <li class="nav-item" style = "border: 1px solid #f2f2f2"><a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a></li> -->
          </ul>
        </nav>
      </div>
                                                                <div class="row" style="height:4rem; margin:auto"></div>

                                                                <div class="row wow slideInLeft" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;; margin:auto;border: 1px solid #f2f2f2"  data-wow-duration="1s">
                                                                  <p class="text-darker" style="padding-left:1.3rem;font-size: 1.5rem;">TỔNG QUAN</p>
                                                                </div>

      <div class="row justify-content-center " style="margin:auto;border: 1px solid #f2f2f2">
        <!-- OVERVIEW TOP-->
        <div class="col-md-12" style= "box-shadow: 5px 10px 18px #888888;">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Từ tháng 01/2020 - 02/2020 </h6> 
                </div> 
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="mr-2">
                      <a href="#" id ="tdischart" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-lg-block">Tổng</span>
                        <span class="d-lg-none">T</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="mdischart" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Tháng</span>
                        <span class="d-lg-none">M</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="wdischart" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Tuần</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
          <!-- align-items-center -->
              <!-- CHART TOP -->
              <div class="row justify-content-center ">
                <div id = "myChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent"  id="myChart" ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- OVERVIEW RECOMMEND-->
        <!-- <div class = "col-md" style= "box-shadow: 5px 10px 18px #888888;">
          <div class="card bg-transparent shadow">
            <div class="card-header bg-transparent">
              <div class="row">
                
              </div>
            </div>
          </div>
        </div> -->
      </div>  
                                                                 <div class="row" style="height:4rem; margin:auto"></div>

                                                                <div class = "row wow slideInLeft" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;; margin:auto;border: 1px solid #f2f2f2"  data-wow-duration="1s">
                                                                  <p style="padding-left:1.3rem;font-size: 1.5rem;">THỐNG KÊ THEO CÁC NHÓM</p>
                                                                </div>
      <!-- CHART DISTRICT GROUP -->
      <div class="row justify-content-center " style="margin:auto;border: 1px solid #f2f2f2">
        <div class="col-md-12" style= "box-shadow: 5px 10px 18px #888888;">
          <div class = "card bg-gradient-default shadow ">
            <div class="card-header bg-transparent">
              <div class= "row align-items-center">
                <div class = "col-md-5">
                  <h5 class="text-white mb-0">Số lượng nhà môi giới trong khu vực Hà Nội</h5>
                </div>
                <div class = "col-md-7">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="mr-2">
                      <a href="#" id ="district_usefor_chart" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Mục đích</span>
                        <span class="d-md-none">U</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="district_type_chart" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Nhu cầu</span>
                        <span class="d-md-none">T</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="district_price_chart" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Phân khúc</span>
                        <span class="d-md-none">P</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="district_surface_chart" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Diện tích</span>
                        <span class="d-md-none">S</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row justify-content-center ">
                <div id = "tcChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent"  id="tcChart" ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

                                                                        
                                                                      <div class="row" style="height:4rem; margin:auto"></div>

                                                                      <div class = "row wow slideInLeft" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;; margin:auto;border: 1px solid #f2f2f2"  data-wow-duration="1s">
                                                                        <p style="padding-left:1.3rem;font-size: 1.5rem;">THỐNG KÊ THEO THỜI GIAN</p>
                                                                      </div>
      

      <div class="row justify-content-center " style="margin:auto;border: 1px solid #f2f2f2">
        <div class="col-md-12" style= "box-shadow: 5px 10px 18px #888888;">
          <div class = "card bg-gradient-default shadow ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div id= "disDayChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent" id="disDayChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





        {% include 'includes/footer.html' %}
    </div>
  </div>
  

  <script src="/static/assets/apiJS/district.js"></script>
