  <!-- Main content -->
  <div class="main-content">

    <!-- Page content -->
    <div class="container-fluid mt--7" id ="all_agency_items">
      <div class="row" style="height:2rem; margin:auto"></div>
      <div class="row justify-content-center" style="background-color:rgba(200, 250, 255, 0.5); margin:auto">
        <nav class=" navbar-expand justify-content-center"  style="width:100%;margin:auto">
          <ul class="navbar-nav row" id="list" style="font-size:0.9rem;width:100%;margin:auto">
            <li class="col-12" style = "float:left; border: 1px solid #f2f2f2">
              <p style="font-size: 1.5rem;padding-block-start: 0.8rem;">DANH MỤC</p>
            </li>
            <li class="col-lg col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/district_list">
              <p style="text-align:center;">Khu vực</p>
              </a>
            </li>
            <li class="col-lg col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/usefor_list">
                <p style="text-align:center;">Nhu cầu</p>
              </a>
            </li>  
            <li class="col-lg col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/type_list">
                <p style="text-align:center;">Mục đích</p>
              </a>
            </li>  
            <li class="col-lg col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/price_list">
              <p style="text-align:center;">Phân khúc</p>
              </a>
            </li>  
            <li class="col-lg col-sm-6" style = "float:left; border: 1px solid #f2f2f2">
              <a class="nav-link text-darker" href="/list/surface_list">
              <p style="text-align:center;">Diện tích</p>
              </a>
            </li>
          <!-- <li class="nav-item" style = "border: 1px solid #f2f2f2"><a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a></li> -->
          </ul>
        </nav>
      </div>

                                                   
                                                                <div class="row" style="height:4rem; margin:auto"></div>

                                                                <div class = "row wow slideInLeft justify-content-center" style = "box-shadow: 1px 1px 18px rgb(0, 157, 224);background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;; margin:auto;border: 1px solid #f2f2f2"  data-wow-duration="1s">
                                                                  <p style="padding-left:1.3rem;font-size: 1.5rem;">NHÀ MÔI GIỚI TIÊU BIỂU</p>
                                                                </div>
      <div class="row" style="height:4rem; margin:auto"></div>

      <div class="row justify-content-center" style="margin:auto;">
        <div class="" style="margin:auto" >
          
          <div class="row" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;border: 1px solid #f2f2f2;margin:auto;padding-left:1.4rem;" >
            <p class="pl--2" style="font-size: 1.3rem;">Top nhà môi giới Hot trong quận</p>
          </div>                           
                                                        
          <div class = "row justify-content-center" id ="district_agency_items" style="margin:auto;;">
            
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin:auto;">
        <div class="" style="margin:auto" >
          <div class="row" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;border: 1px solid #f2f2f2;margin:auto;padding-left:1.4rem;" >
            <p class="" style="font-size: 1.3rem;">Top nhà môi giới Hot theo Nhu cầu sử dụng</p>
          </div>    
          <div class = "row justify-content-center" id ="usefor_agency_items" style="margin:auto">
           
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin:auto;">
        <div class="" style="margin:auto" >
          <div class="row" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;border: 1px solid #f2f2f2;margin:auto;padding-left:1.4rem;" >
            <p class="" style="font-size: 1.3rem;">Top nhà môi giới Hot theo Mục đích sử dụng</p>
          </div>   
          <div class = "row justify-content-center" id ="type_agency_items" style="margin:auto">
           
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin:auto;">
        <div class="" style="margin:auto" >
          <div class="row" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;border: 1px solid #f2f2f2;margin:auto;padding-left:1.4rem;" >
            <p class="" style="font-size: 1.3rem;">Top nhà môi giới Hot theo Phân khúc</p>
          </div> 
          <div class = "row justify-content-center" id ="price_agency_items" style="margin:auto">
           
          </div>
        </div>
      </div>


      <div class="row justify-content-center" style="margin:auto;">
        <div class="" style="margin:auto" >
          <div class="row" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;border: 1px solid #f2f2f2;margin:auto;padding-left:1.4rem;" >
            <p class="" style="font-size: 1.3rem;">Top nhà môi giới Hot theo Diện tích</p>
          </div> 
          <div class = "row justify-content-center" id ="surface_agency_items" style="margin:auto">
           
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

  <script src="/static/assets/apiJS/index.js" > </script>
<!-- 
  <div class="bg-gradient-gray"></div> -->