  <!-- Main content -->
  <div class="main-content">

    <!-- Page content -->
    <div class="container-fluid mt--7" id ="all_agency_items">
      <div class="row " >
        <div class="container-fluid " >
          <div class = "row m-3 ">
            <div class="wow slideInLeft "  data-wow-duration="2s">
              <h2 class = " text-gray-dark ls-1 mb-1">Nhà môi giới hot tại Hà Nội</h2>
              <div  style="height: 0.5rem;width:170%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
            </div>
          </div>
          <div class = "row justify-content-center" id ="district_agency_items">
            
          </div>
        </div>
      </div>
      <div class="row " >
        <div class="container-fluid ">
          <div class = "row m-3 " >
            <div class="wow slideInLeft "  data-wow-duration="2s">
              <h2 class="text-gray-dark ls-1 mb-1">Nhà môi giới hot theo nhu cầu</h2>
              <h3 id="test"></h3>
              <div  style="height: 0.5rem;width:170%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
            </div>
          </div>
          <div class = "row justify-content-center" id ="usefor_agency_items">
           
          </div>
        </div>
      </div>

      <div class="row " >
        <div class="container-fluid ">
          <div class = "row m-3 " >
            <div class="wow slideInLeft "  data-wow-duration="2s">
              <h2 class = " text-gray-dark ls-1 mb-1">Nhà môi giới hot theo mục đích sử dụng</h2>
              <h3 id="test"></h3>
              <div  style="height: 0.5rem;width:170%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
            </div>
          </div>
          <div class = "row justify-content-center" id ="type_agency_items">
           
          </div>
        </div>
      </div>

      <div class="row " >
        <div class="container-fluid ">
          <div class = "row m-3 " >
            <div class="wow slideInLeft "  data-wow-duration="2s">
              <h2 class = " text-gray-dark ls-1 mb-1">Nhà môi giới hot theo phân khúc</h2>
              <h3 id="test"></h3>
              <div  style="height: 0.5rem;width:170%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
            </div>
          </div>
          <div class = "row justify-content-center" id ="price_agency_items">
           
          </div>
        </div>
      </div>


      <div class="row " >
        <div class="container-fluid ">
          <div class = "row m-3 " >
            <div class="wow slideInLeft "  data-wow-duration="2s">
              <h2 class = " text-gray-dark ls-1 mb-1">Nhà môi giới hot diện tích sử dụng</h2>
              <h3 id="test"></h3>
              <div  style="height: 0.5rem;width:170%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
            </div>
          </div>
          <div class = "row justify-content-center" id ="surface_agency_items">
           
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

  <script src="/static/assets/apiJS/index.js" > </script>
<!-- 
  <div class="bg-gradient-gray"></div> -->