
  <div class="main-content">
    <!-- Top navbar -->

    <div class="container-fluid mt--7">
      <div class="wow slideInLeft"  data-wow-duration="2s">
        <h1 class = "text-uppercase text-white ls-1 mb-1">OVERVIEW</h1>
        </div>
      <div class = "row p--5" style = "height: 2rem;"></div>
      <div class="row justify-content-center">
        <!-- OVERVIEW -->
        <div class="col-lg-12" style= "box-shadow: 5px 10px 18px #888888;">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Từ 01/2020 - 02/2020</h6> 
                </div> 
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="mr-2">
                      <a href="#" id ="monthBtn" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-lg-block">Tháng</span>
                        <span class="d-lg-none">M</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="weekBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Tuần</span>
                        <span class="d-lg-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row justify-content-center">
                <div id="ovDadChart" class="container justify-content-center">
                  <canvas id="ovChart" class="col-md bg-transparent"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                                                              <div class = "row p--5" style = "height: 2rem;"></div>
                                                              <div class="wow slideInLeft"  data-wow-duration="2s">
                                                                <h1 class = "text-uppercase text-white ls-1 mb-1">THỐNG KÊ THEO CÁC NHÓM</h1>
                                                                <div  style="height: 1rem;width:70%;background-color:rgb(255, 255, 255);border-radius: 12px;"></div>
                                                              </div>
                                                              <div class = "row p--5" style = "height: 2rem;"></div>
      <!-- CHART USEFOR GROUP -->

      <div class="row justify-content">
        <div class="col-md-12" style= "box-shadow: 5px 10px 18px #888888;">
          <div class = "card bg-gradient-default shadow ">
            <div class="card-header bg-transparent">
              <div class= "row align-items-center">
                <div class = "col-md-5">
                  <h5 class="text-white mb-0">Số lượng nhà môi giới trong khu vực Hà Nội</h5>
                </div>
                <div class = "col-md-7">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="mr-2">
                      <a href="#" id ="districtBtn" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-lg-block">Khu vực</span>
                        <span class="d-lg-none">KV</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="useforBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Mục đích</span>
                        <span class="d-lg-none">MĐ</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="typeBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Nhu cầu</span>
                        <span class="d-lg-none">NC</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="priceBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Phân khúc</span>
                        <span class="d-lg-none">PK</span>
                      </a>
                    </li>
                    <li class="mr-2">
                      <a href="#" id ="surfaceBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-lg-block">Diện tích</span>
                        <span class="d-lg-none">DT</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- CHART CANVAS HERE -->
              <div class="row justify-content-center ">
                <div id = "tcChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent"  id="tcChart" ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class = "row p--5" style = "height: 2rem;"></div>

      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class = "card bg-gradient-default shadow ">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div id= "dayChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent" id="dayChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->



        {% include 'includes/footer.html' %}
    </div>
</div>

<script src="/static/assets/apiJS/day.js"></script>