
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/usefor">THỐNG KÊ SỐ LƯỢNG NHÀ MÔI GIỚI THEO MỤC ĐÍCH SỬ DỤNG</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        {% include 'includes/user-dropdown.html' %}

      </div>
    </nav>


    <!-- Header -->
    {% include 'includes/top-stats.html' %}
    <div class="container-fluid mt--7">
      <div class="row justify-content-center">
        <!-- OVERVIEW -->
        <div class="col-md-8">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="text-lighter ls-1 mb-0">OVERVIEW</h1>
                  <h6 class="text-uppercase text-light ls-1 mb-1">Từ 01/2020 - 02/2020</h6> 
                </div> 
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li>
                      <a href="#" id ="totalUseforBtn" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Tổng</span>
                        <span class="d-md-none">T</span>
                      </a>
                    </li>
                    <li >
                      <a href="#" id ="monthUseforBtn" class="nav-link py-2 px-3 " data-toggle="tab">
                        <span class="d-none d-md-block">Tháng</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li >
                      <a href="#" id ="weekUseforBtn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Tuần</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row justify-content-center">
                <div id="useforDadChart" class="container justify-content-center">
                  <canvas id="useforChart" class="col-md bg-transparent"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <h1 class = "text-uppercase text-light ls-1 mb-1">.RECOMMEND</h1>
            </div>
          </div>
        </div>
      </div>
      <div class = "row p--5" style = "height: 2rem;"></div>
      <!-- CHART USEFOR GROUP -->
      <div class="row justify-content">
        <div class="col-md-12">
          <div class = "card bg-gradient-default shadow ">
            <div class="card-header bg-transparent">
              <div class= "row align-items-center">
                <div class = "col-md-5">
                  <h5 class="text-white mb-0">Số lượng nhà môi giới trong khu vực Hà Nội</h5>
                </div>
                <div class = "col-md-7">
                  <ul class="nav nav-pills justify-content-end">
                    <li >
                      <a href="#" id ="usefor_district_btn" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Khu vực</span>
                        <span class="d-md-none">KV</span>
                      </a>
                    </li>
                    <li >
                      <a href="#" id ="usefor_type_btn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Nhu cầu</span>
                        <span class="d-md-none">NC</span>
                      </a>
                    </li>
                    <li >
                      <a href="#" id ="usefor_price_btn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Phân khúc</span>
                        <span class="d-md-none">PK</span>
                      </a>
                    </li><li >
                      <a href="#" id ="usefor_surface_btn" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Diện tích</span>
                        <span class="d-md-none">DT</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- CHART CANVAS HERE -->
              <div class="row justify-content-center ">
                <div id = "tcUseforChartDad" class = "container justify-content-center">
                  <canvas class = "col-md bg-transparent"  id="tcUseforChart" ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        {% include 'includes/footer.html' %}
    </div>
  </div>


<script src="/static/assets/apiJS/usefor.js"></script>
