

<div class="main-content">
    <!-- Page content -->
    <div class="container-fluid mt--7" id ="all_agency_items">
        


        <div class="row justify-content-center">
            <!-- OVERVIEW -->
            <h1 id = "data" style="display: none;">{{data}}</h1>
        </div>
       



        <div class="row mb-3 mt-3  " >
            <div class="col-12" style="margin:auto">
                <!-- <div class = "row">
                    <div class="col-10">
                    <h2 class = "text-gray-dark ls-1 mb-1">Danh sách Nhà môi giới nổi bật</h2>
                    <div class="bg-gray-dark"  style="height: 0.5rem;width:100%;border-radius: 12px;"></div>
                    </div>
                </div> -->
                <div class="row bg-transparent justify-content-center  wow slideInLeft" id= "top_name" style = "box-shadow: 1px 1px 18px rgb(0, 157, 224);margin:auto" data-wow-duration="1s"></div>
                <div class="row" style="height:2rem"></div>

                <div class="row mt-xl-4 mt-lg-3 mt-md-2" style = "background-color:rgba(200, 250, 255, 0.5);padding-top:0.8rem;; margin:auto;border: 1px solid #f2f2f2"  >
                  <p class="" style="padding-left:2.7rem;font-size: 1.3rem;">Nhà môi giới nổi bật</p>
                </div>
                <div class="row justify-content-center" id = "top_items" style="margin:auto">

                </div>


                <div class="row bg-transparent" style="height: 3rem; margin:auto"></div>
                <div class="row justify-content-center" id ="list"  style="margin:auto;">
                    
                </div>
                
                
            </div>
        </div>



      {% include 'includes/footer.html' %}

    </div>
  </div>
  <script type="text/javascript"  src="/static/assets/apiJS/list/dimention_detail.js"></script>