

<nav class="navbar navbar-expand-md topmenu container"  >
        <a class="navbar-brand" href="/"><img style= "box-shadow: 5px 10px 18px #888888;" src="/static/assets/img/brand/brand-logo.png" class="logo" height="50"></a>
        <button class="navbar-toggler text-lighter"style= "box-shadow: 5px 10px 18px #888888;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse mt-6 mt-md-0" id="navbarSupportedContent"  >
              
              <ul class="navbar-nav justify-content-end" style="font-size:0.9rem">
                <!-- <li class="nav-item"><a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a></li> -->
                <li class="nav-item"><a class="nav-link text-white" href="/district">Khu vực</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/usefor">Mục đích</a></li>
                <!--<li class="nav-item"><a class="nav-link  " href="https://cenhomes.vn/gui-ban-cho-thue-nha" >Gửi bán & Cho thuê</a></li>-->
                <li class="nav-item"><a class="nav-link text-white " href="/type">Nhu cầu</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/price">Phân khúc</a></li>
                <li class="nav-item"><a class="nav-link text-white " href="/surface">Diện tích</a></li>
                <li class="nav-item"><a class="nav-link text-white " href="/time">Thời gian</a></li>
            
                <li class="nav-item dropdown  ">
                  <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" style = " cursor: pointer;">
                    <i class = "fa fa-chart-line text-primary"></i>Thống kê
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" >
                    <a class="dropdown-item" href="/district">Khu vực</a>
                    <a class="dropdown-item" href="/usefor">Mục đích sử dụng</a>
                    <a class="dropdown-item" href="/type">Nhu cầu sử dụng</a>
                    <a class="dropdown-item" href="/price">Phân khúc giá</a>
                    <a class="dropdown-item" href="/surface">Diện tích</a>
                    <a class="dropdown-item" href="/time">Thời gian</a>
                    <a class="dropdown-item" href="/synthesis">Tổng hợp</a>
                  </div>
                </li>
                    {% include 'includes/user-dropdown.html' %}

            </ul>
      </div>
      
        
      
</nav>

<a class=""></a>

