
  <!-- Sidenav -->
  <!-- <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main"> -->
    <nav class="navbar navbar-horizontal navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
           <!-- User -->
           <ul class="nav align-items-center d-md-none">
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="/static/assets/img/theme/team-1-800x800.jpg">
                  </span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                <div class=" dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="/profile.html" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile ahuhu</span>
                </a>
                <a href="/profile.html" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href={{ url_for('logout') }} class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
          <!-- Brand -->
          <!-- <a class="container-fluid" href="/">
            <img src="/static/assets/img/brand/bdsaalogo.png" class="img-fluid  mx-auto d-block alt="Flask Argon Dashboard" width="100" height="80">
          </a> -->
    
         
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
               
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
              <div class="input-group input-group-rounded input-group-merge">
                <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>
            <!-- Navigation -->
            <div class="navbar-nav" >
              <!-- <a href="./index.html">
                <img src="/static/assets/img/brand/blue.png">
              </a> -->
              <a href="/" class=" text-primary">
                <img src="/static/assets/img/brand/bdsaalogo.png" alt="Flask Argon Dashboard" width="100" height="80"> 
              </a>
            </div>
            <ul class="navbar-nav">
              <li>
                <a href="/home" class="nav-link btn">
                  <i class = "fa fa-home text-primary"></i>Trang chủ
                </a>
              </li>
              <li>
                <a class="nav-link btn">
                  <i class = "fa fa-map-marked-alt text-primary"></i>Khu vực 
                </a>
              </li>
              <li>
                <a class="nav-link btn">
                  <i class = "fa fa-check-double text-primary"></i>Mục đích 
                </a>
              </li>
              <li>
                <a class="nav-link btn">
                  <i class = "fa fa-city text-primary"></i>Nhu cầu
                </a>
              </li>
              <li>
                <a class="nav-link btn">
                  <i class = " text-primary">$</i>Phân khúc
                </a>
              </li>
              <li>
                <a class="nav-link btn">
                  <i class = "fa fa-industry text-primary"></i>Diện tích
                </a>
              </li>
              
            </ul>
            <!-- <hr class="my-3"> -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn" href="/">
                  <i class="ni ni-tv-2 text-primary"></i> Dashboard
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link btn" href="/icons">
                  <i class="ni ni-planet text-blue"></i> Icons
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn" href="/profile">
                  <i class="ni ni-single-02 text-yellow"></i> User profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn" href="/tables">
                  <i class="ni ni-bullet-list-67 text-red"></i> Tables
                </a>
              </li>
    
              
    
              <li class="nav-item">
                <a class="nav-link" href={{ url_for('chart') }}>
                  <i class="ni ni-key-25 text-info"></i> Chart
                </a>
              </li>
              {% if current_user.is_authenticated %}
              {% else %}
    
              <li class="nav-item">
                <a class="nav-link" href={{ url_for('login') }}>
                  <i class="ni ni-key-25 text-info"></i> Login
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ url_for('register') }}>
                  <i class="ni ni-circle-08 text-pink"></i> Register
                </a>
              </li>
    
              {% endif %}
    
            </ul>
            <!-- Divider -->
            
    
          </div>
        </div>
      </nav>


      <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
          <!-- Brand -->
          <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/district">THỐNG KÊ SỐ LƯỢNG NHÀ MÔI GIỚI HOẠT ĐỘNG THUỘC KHU VỰC THÀNH PHỐ HÀ NỘI</a>
          <!-- Form -->
          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
          </form>
          <!-- User -->
          {% include 'includes/user-dropdown.html' %}
  
        </div>
      </nav>
  